<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.weissenburger.producebrowser.imageviewer">

    <application>
        <activity android:name=".ImageBrowserActivity">
            <intent-filter android:order="50">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />


                <data
                    android:host="weissenburger.net"
                    android:pathPattern="/produce/.*"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity android:name=".FullImageActivity"/>
    </application>

</manifest>